.feynman__link{
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: 2s;
  z-index: 1;
}

.feynman__link:hover{
  opacity: 0.5;
}